.row {
  display: flex;
  padding: 3px 0;
}

.col {
  flex: 50%;
}

.key {
  font-family: monospace;
}

#description {
  border-bottom: 1px solid #999;
  padding-bottom: 20px;
}

#current-theme {
  margin: 20px 0;
}

#current-theme .theme-id {
  font-family: monospace;
}

#warning {
  color: firebrick;
  width: 100%;
  padding: 10px 0;
}

#warning:not([active]) {
  display: none;
}

#options {
  margin: 20px 0;
}

#theme-select {
  width: 100%;
}
